body {
  padding-top: 70px;
  font-family: Arial, sans-serif;
}

.hero {
  height: 70vh;
  background: linear-gradient(120deg, #000428, #004e92);
  display: flex;
  align-items: center;
}

.product-card {
  transition: 0.3s;
}

.product-card:hover {
  transform: translateY(-8px);
}

.price {
  font-weight: bold;
  color: #f39c12;
}
