body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f6f8;
}

/* HERO */
.hero {
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
              url("images/freelancing.jpg") center/cover no-repeat;
  color: white;
  text-align: center;
  padding: 100px 20px;
}

/* CARDS */
.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 40px;
  flex-wrap: wrap;
}

.card {
  background: white;
  padding: 25px 40px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  font-weight: bold;
}

.card:hover {
  background: #e8efff;
}

/* DETAILS */
.details {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.detail {
  display: none;
  background: white;
  padding: 30px;
  margin: 20px 0;
  border-radius: 12px;
}

footer {
  text-align: center;
  padding: 15px;
  background: #ddd;
}
